<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pillz1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61CF70161DE265C700F22D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61CF702A1DE265C700F22D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61CF70351DE265C800F22D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
